* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'harmonia';
  src: url(/font/HarmoniaSansProCyr-Light.ttf);
}
body {
  font-family: 'harmonia';
  background-color: var(--body-bg-color);
}
img {
  width: 100%;
}
svg {
  width: 100%;
  max-height: 100%;
}
a{
  text-decoration: none;
}
:root {
  --body-bg-color: #121212d8;
  --i-info-fill: rgba(69, 70, 74, 1);
  --i-info-stroke:#fFf;
  --login-box-bg-color: rgba(69, 70, 74, 1);
  --login-box-shadow: 0px 4px 69px #222325;
  --login-box-input-border: 1px solid gray;
  --font-color: #fff;
  --buttons: rgba(64, 158, 255, 1);
  --gradient: linear-gradient(to bottom, #fd4869, #922da4);
  --side-bar-bg-color: #2b2c2f;
  --side-bar-font-color: rgba(118, 120, 124, 1);
  --side-bar-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --side-bar-logo-text: #fff;
  --side-bar-svg-hover-color:#Fff;
  --side-bar-li-hover-color:#fff;
  --side-bar-li-hover-bg-color:rgba(0, 0, 0, 0.403);
}
@media screen and (prefers-color-scheme: light) {
  :root {
    --body-bg-color: #d1d1d163;
    --i-info-fill: #fff;
    --i-info-stroke: rgba(69, 70, 74, 1);
    --login-box-bg-color: #fff;
    --login-box-shadow: 0px 4px 69px #e6e6e6;
    --font-color: #606266;
    --side-bar-bg-color: #fff;
    --side-bar-font-color: rgba(48, 49, 51, 1);
    --side-bar-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --side-bar-logo-text: rgb(0, 0, 0);
    --side-bar-svg-hover-color:rgba(64, 158, 255, 1);
    --side-bar-li-hover-color:rgba(64, 158, 255, 1);
    --side-bar-li-hover-bg-color:#FFF;
  }
}
/* ---utility classes--- */

.flex {
  display: flex;
}
.grid {
  display: grid;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.flex-direction-column {
  flex-direction: column;
}
.bold {
  font-weight: bold;
}
/* ---utility classes-End--- */

/*-------index-html-login-page-css--------*/

.login-page {
  min-height: 100vh;
  padding: 0.5rem;
  grid-template-columns: 1fr 1.5fr;
}
.gradient-color-box {
  background: var(--gradient);
  width: 100%;
  min-height: 100%;
  border-radius: 1rem;
  padding: 1rem;
}
.image-container {
  width: 100%;
  height: 100%;
}
.image-container .gradient-color-box-image {
  width: 100%;
  margin: auto;
}
.gradient-color-box .admin span {
  color: #fff;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.login-container {
  height: 100%;
}
#svg-circle path {
  fill: var(--svg-circle-dark);
}
.login-box-content {
  width: 100%;
}
.login-container .login-box {
  background-color: var(--login-box-bg-color);
  box-shadow: var(--login-box-shadow);
  width: 55%;
  min-width: 420px;
  max-width: 560px;
  border-radius: 9px;
  padding: 2rem 2rem 4rem 2rem;
  margin: auto;
}
.login-container .login-box h1 {
  color: var(--font-color);
  margin-bottom: 0.7rem;
}
.login-container .login-box input {
  border: var(--login-box-input-border);
  width: 80%;
  margin-top: 1.3rem;
  padding: 1rem;
  border-radius: 4px;
}
.login-container .login-box .password {
  text-align: center;
  position: relative;
  width: 100%;
}
.login-container .login-box .password .fa-eye {
  position: absolute;
  right: 12%;
  top: 53%;
  color: rgba(4, 4, 4, 0.422);
  cursor: pointer;
}
.login-container .login-box  button {
  background-color: var(--buttons);
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 0.7rem;
  width: 80%;
  margin-top: 1.3rem;
}
.login-container .login-box a{
  width: 100%;
  text-align: center;
}
.login-container .login-box button:hover {
  background-color: rgba(64, 160, 255, 0.862);
  cursor: pointer;
}
.login-container .i-info {
  position: absolute;
  top: 1%;
  right: 0.5%;
  cursor: pointer;
}
.login-container .i-info-width {
  width: 2rem;
  max-height: 2rem;
}
.i-info-width svg {
  fill: var(--i-info-fill);
  stroke: var(--i-info-stroke);
}
.copy-rights span {
  color: rgba(168, 171, 178, 1);
}
/*-------index-html-login-page-css-End--------*/

/*-----------table-page-css----- */

/*-------------- side-bar --------- */
.side-bar {
  background-color: var(--side-bar-bg-color);
  color: var(--side-bar-font-color);
  max-width: 400px;
  box-shadow: var(--side-bar-box-shadow);
  padding: 1.5rem 0rem;
  width: 20%;
  height: 100vh;
  overflow: auto;
  min-width: 280px;
}
.side-bar .side-bar-logo-img {
  width: 9.5rem;
  padding: 0rem 1.5rem;
  margin-bottom: 1.5rem;
}
.side-bar .side-bar-logo-img span {
  color: var(--side-bar-logo-text);
  font-weight: bolder;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.side-bar .list-images {
  width: 2rem;
  max-height: 2rem;
  margin-right: 1rem;
  display: flex;
}
.side-bar ul {
  list-style: none;
}
.side-bar ul li {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.side-bar ul li:hover {
  background-color: var(--side-bar-li-hover-bg-color);
}
.side-bar ul li .list-images svg {
  stroke: #606266;
  fill: none;
}
.side-bar ul li:hover svg {
  stroke: var(--side-bar-svg-hover-color);
}
.side-bar ul li:hover {
  color: var(--side-bar-li-hover-color);
}
.side-bar-copy-right {
  margin-top: auto;
  color: rgba(118, 120, 124, 1);
}

